<div class="item-card {{ type }}-card" data-id="{{ item.id }}" data-type="{{ type }}">
    <div class="rarity-badge {{ item.rarity }}">
        {{ item.rarity|upper }}
    </div>
    
    <h3 class="item-name">{{ item.name }}</h3>
    
    <div class="power-indicator">
        <div class="power-bar" style="width: {{ item.power }}%"></div>
    </div>

    <div class="item-stats">
        <div>Power: {{ item.power }}</div>
        <div>Duration: {{ item.duration }} days</div>
    </div>

    <div class="item-description">
        {% if type == 'blessing' %}
            {{ item.benefits }}
        {% else %}
            {{ item.sideEffects }}
        {% endif %}
    </div>

    <div class="item-price">{{ item.price }} gold</div>

    <button class="purchase-button" onclick="location.href='{{ path('shop_purchase', {'type': type, 'id': item.id}) }}'">
        {% if type == 'blessing' %}
            Embrace Divine Light
        {% else %}
            Accept Darkness
        {% endif %}
    </button>
</div>
